.content-area {
    // because of .actions toolbar
    margin-top: 3.5rem;
}

.modal-backdrop.show {
    background-color: #e6e6e6;
    opacity: 1;
}


.sidebar-icon {
    float: left;
    width: 2.5rem;
    height: 2rem;
    margin-right: 2rem;
}

.description {
    padding: 2rem  0;
}

